.app {
    max-width: 1080px;
    margin: 1em auto 0;
    display: grid;
    grid-template-columns: 25% calc(75% - 1.5em);
    gap: 1.5em;
}

.ticketsList > section + section {
    margin-top: 1em;
}
